body{
    font-family: "Roboto", Arial;
    margin: 0;
    padding-top: 100px;
}
.header{
    background-color: black;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 9999;
}
.header-button{
    color: white;
    background-color: transparent;
    border-width: 0;
    font-size: 18px;
}
.header-text-button{
    color: white;
    background-color: transparent;
    border-width: 0;
    font-size: 18px;
    text-decoration: none;
}
.left-section{
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
}
.menu-icon {
    cursor: pointer;
    margin-right: 10px;
}
.title-header{    
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    flex-shrink: 0;
    color: white;
    border-width: 0;
    text-decoration: none;
}
.right-section{
    color: white;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-shrink: 0;
    margin-right: 10px;
}
.login-button{
    margin-right: 10px;
    color: white;
    border-width: 0;
    font-size: 18px;
    text-decoration: none;
}
.login-button:hover,.cart-button:hover{
    color: gray;
    cursor: pointer;
}





.form{
    margin: 0px 15px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
p{
    text-align: center;
    font-size: 16px;
}
.title-form{
    color: black;
    text-align:center;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    margin-top: 25px;
}
.input-group {
    position: relative;
    margin-bottom: 12px;
}
    .input {
        border: solid 1.5px gray;
        border-radius: 10px;
        background: none;
        padding: 10px;
        padding-left: 10px;
        font-size: 16px;
        color: black;
        transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
        width: calc(100% - 22px);
        height: 35px;
    }
    .user-label {
        position: absolute;
        left: 15px;
        color: gray;
        pointer-events: none;
        transform: translateY(-50%);
        top: 50%;
        transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .input:focus, .input:valid {
        outline: none;
        border: 1.5px solid #2196f3;
    }
    .input:focus ~ .user-label,
    .input:valid ~ .user-label {
        transform: translateY(-200%) scale(0.8);
        background-color: white;
        padding: 0 5px;
        color: #2196f3;
    }
.submit-button{
    padding: 15px 0px;
    border-radius: 15px;
    border:none;
    font-size: 28px;
    color: white;
    background-color: black;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}
.social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.google,.facebook,.apple{
    margin: 10px;
    width: 40px;
    height: 40px;
}



form{
    width: 400px;
}
@media screen and (max-width: 550px) {
    form{
        width: 100%;
    }
}
