body{
    font-family: "Roboto", Arial;
    margin: 0;
}
.header{
    background-color: black;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
}
.left-section{
    display: flex;
    justify-content:left;
    align-items: center;
    margin-left: 30px;
    column-gap: 20px;
}
.title-header{
    font-weight: 700;
    flex-shrink: 0;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.header-button{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.right-section{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 30px;
    column-gap: 20px;
}
.title-header:hover, .header-button:hover{
    opacity: 0.7;
}


.product {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 50px;
    padding-top: 135px;
}
.product-image {
    width: 40%;
    margin-right: 20px;
}
.product-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.product-info {
    width: 60%;
    padding: 20px 40px;
    /*background-color: lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);*/
}
.product-title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 5px;
}
.product-description {
    font-size: 16px;
    margin-bottom: 15px;
}
.product-long-description {
    font-size: 18px;
    margin-bottom: 15px;
    color: black;
}
.product-price {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}
.product-buy-button {
    width: 100%;
    height: 50px;
    padding: 20px 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
.product-buy-button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1200px) {
    .left-section{
        margin-left: 20px;
        column-gap: 15px;
    }
    .right-section{
        margin-right: 20px;
        column-gap: 15px;
    }
}
@media screen and (max-width: 900px) {
    .left-section{
        margin-left: 15px;
        column-gap: 12px;
    }
    .right-section{
        margin-right: 15px;
        column-gap: 12px;
    }
}
@media screen and (max-width: 600px) {
    .product {
        flex-direction: column;
        margin: 0 15px;
    }
    .product-image {
        width: 100%;
        margin: 0;
        margin-bottom: 25px;
    }
    .product-info {
        width: calc(100% - 40px);
        padding: 20px;
        margin: 0;
        margin-bottom: 50px;
    }
    .left-section{
        margin-left: 10px;
        column-gap: 10px;
    }
    .right-section{
        margin-right: 10px;
        column-gap: 10px;
    }
}
