body{
    font-family: "Roboto", Arial;
    margin: 0;
    height: 2000px;
}
.header{
    background-color: black;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0px;
    right: 0px;
}
.left-section{
    color: white;
    display: flex;
    justify-content:left;
    align-items: center;
    margin-left: 5px;
}
.menu-icon {
    cursor: pointer;
    margin-right: 15px;
}      
.bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 4px 0;
    transition: 0.4s;
}      
.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}      
.change .bar2 {
    opacity: 0;
}      
.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}
.title-button{    
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    flex-shrink: 0;
}
.right-section{
    color: white;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-shrink: 0;
    margin-right: 5px;
}
.search-button{
    margin-right: 15px;
}
.fa-solid.fa-magnifying-glass{
    color: rgb(255, 255, 255);
}
.login-button{
    margin-right: 15px;
}
.login-button:hover,.cart-button:hover{
    color: gray;
    cursor: pointer;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 5px;  
    row-gap: 30px;
    padding-top: 125px;
    padding-left: 5px;
    padding-right: 5px;
}
.product{
    background-color: lightgray;
    border-radius: 15px;
    cursor: pointer;
}
.product:hover{
    opacity: 0.8;      
}
.product-image{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.product-picture{
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.product-info{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.product-title{
    font-weight: 700;
    font-size: 25px;
}
.product-description{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
